* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}

@media only screen and (max-width:414px) {
    body {
        max-width: 414px !important;
        overflow-x: hidden;
    }
    .content {
        margin-left: 2.5rem !important;
    }
    .ideaTickerName {
        position: absolute;
    }
    .ideaDirection {
        padding-top: 6rem;
    }
    .ideaTextArea {
        max-height: 10rem;
    }
    .addNewIdea {
        top: 22.5% !important;
        left: 13.5% !important;
        height: 58vh !important;
        z-index: 2 !important;
    }

}


header {
    height: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s;
    flex: 1 0 0;
}



.logo {
    color: rgb(8, 96, 168);
    margin: 1rem;
    flex: 1 0 0;
    transition: all 0.2s;
    cursor: default;
}

.logo:hover {
    color: rgb(9, 28, 87);
}



.addButton {
    font-size: 2rem;
    margin: 1rem;
    outline: none;
    border: none;
    background: none;
    color: rgb(8, 96, 168);
    cursor: pointer;
    transition: all 0.1s;
    z-index: 2;
}

.addButton:hover {
    color: rgb(9, 28, 87)
}


.addNewIdea {
    background-color: rgb(8, 96, 168);
    position: absolute;
    left: 40%;
    top: 25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: 46vh;
    width: 40vh;
    z-index: 2;
    border-radius: 1rem;
}

.ideas {
    display: flex;
    flex-flow: row wrap;
}

.content {
    margin-left: 6rem;
}

.idea {
    background-color: royalblue;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: 45vh;
    width: 40vh;
    color: white;
    margin: 1rem;
    border-radius: 1rem;
    cursor: default;
}


.LONG {
    background-color: rgb(26, 148, 49);
}

.SHORT {
    background-color: rgb(194, 32, 19);
}

.blackBcg {
    background-color: black;
    position: absolute;
    width:120rem;
    height: 100rem;
    z-index: 2;
    opacity: 0.5;
}


.ideaTickerName {
    font-size: 5rem;
    margin: 1rem 1rem 0rem 1rem;
    text-transform: uppercase;
    z-index: 1;
}

.ideaDirection {
    font-size: 2.5rem;
    opacity: 0.7;
    position: relative;
    top:-9%;
}

.ideaTextArea {
    padding: 0.5rem;
    margin: 1rem;
    margin-bottom: 0;
    position:relative;
    height: 15rem;
    top:-12%;
    font-size: 1.5rem;
    flex: 1 0 0;
    overflow-y: scroll;
}

.ideaTextArea::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}

.removeIdea {
    font-size: 2rem;
    color: white;
    border: none;
    outline: none;
    background: none;
    position: relative;
    margin: 0;
    padding: 0;
    bottom: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.removeIdea:hover {
    color: rgb(196, 0, 0);
}

.inputTicker {
    font-size: 5rem;
    width: 15rem;
    margin: 1.5rem;
    text-transform: uppercase;
}

::placeholder {
    color: white;
    opacity: 0.5;
    text-transform: none;
}

label {
    padding: 0.5rem;
}

input[type=text] {
    border: none;
    outline:none;
    background-color: rgb(8, 96, 160);
    border-radius: 0.5rem;
    border-bottom: 5px solid rgba(6, 77, 135, 1);
    text-align: center;
    color: white;
}

.checkboxes {
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem;
}

.poznamka {
    height: 100px;
    width: 200px;
    font-size: 1rem;
    color: white;
    overflow: hidden;
    resize: none;
    background-color: rgb(8, 96, 160);
    border: none;
    border-bottom: 5px solid rgba(6, 77, 135, 1);
    outline: none;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.addButtonInside {
    color: white;
    font-size: 1.5rem;
    background-color: royalblue;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}



.addButtonInside:hover {
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}

.clearLocalStorageButton {
    font-size: 2rem;
    color: rgb(6, 77, 135);
    border: none;
    outline: none;
    background: none;
    transition: all 0.1s;
    cursor: pointer;
}

.clearLocalStorageButton:hover {
    color: rgb(9, 28, 87);
}